<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="with=device=width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="le-edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <style>
    img {
      width: 100%;
    }
  </style>
        <title>Fill Form</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-5 m-auto">
                        <h1 class="text-center display-4 my-4 text-danger ">FILL FORM</h1>
                        <form>
                                <div class="form-group">
                                        <label for="name">Full Name</label>
                                        <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Full Name">
                                      </div>
                                      <div class="form-group">
                                            <label for="exampleFormControlSelect1">Gender</label>
                                            <select class="form-control" id="exampleFormControlSelect1" >
                                              <option>Male</option>
                                              <option>Female</option>
                                            
                                              
                                            </select>
                                          </div>
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@nic.in">
                                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Password</label>
                                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                  <small id="PasswordHelp" class="form-text text-muted">We'll never share your Password with anyone else.</small>

                                </div>

                                <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Full Address</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                      </div>
                                
                               
                              </form>
                              <label>Select a file</label>
                        <form action="/upload" method="POST"
                        enctype="multipart/form-data">
                        <div class="custom-file mb-3 shadow-lg p-3 mb-5 bg-white rounded ">
                            
                            <input type="file" name="file" id="file" class="custom-file-input" accept="image/jpeg,image/png,application/pdf,application/docx">
                            <label for="file" class="custom-file-label">
                            
                               
                               <span id ='filename'>No file chosen</span>

                               
                                </label>

                            
                            
                        </div>
                        <input type="submit" value="UPLOAD" class="btn btn-success btn-block ">


                        </form>

                        

                        <hr>
                        <% if(files){ %>
                            <% files.forEach(function(file){ %>

                                <div class="card card-body mb-3">

                                    <% if(file.isImage){ %>

                                
                                        <div class="card card-body mb-2">

                                        <img src = "image/<%= file.filename %>" alt="">
                                    </div>
                                        <div class="card card-body mb-1">
                                        <%= file.filename %>
                                    </div>
                                    <%} else { %>
                                        <div class="card card-body mb-0.5">

                                                <%= file.filename %>
                                            </div>
                                       

                                       

                                    <%}%> 

                                    <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
                                        <button class="btn btn-warning btn-block mt-4">Delete</button>
                                      </form>
                                </div>

                            <% }) %>

                        <% } else { %>

                        

                       <% } %>

                    </div>
            </div>
        </div>

        <script type="text/javascript">
            const realFileBtn = document.getElementById("file");
            const customTxt = document.getElementById("filename");

        
            realFileBtn.addEventListener("change", function() {
                if (realFileBtn.value) {
                    customTxt.innerHTML = realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
                        } else {
                        customTxt.innerHTML = "No file chosen";
                        }
                    });
        </script>
        
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>